.box-list{
    display:flex;
    justify-content: center;
    margin-bottom:6%;
    width:100%;
    height:35px; 
}
.list{
    display:flex;
    width:50%;
    height: 50px;
    justify-content: space-around;
    align-items:center;
    background-color:white;
    border-radius:5px;
    font-size: 20px; 
}
.icon-close-list{
    color:black;
    cursor: pointer;
}
.icon-close-list:hover{color:rgb(202, 91, 91);}
.icon-close-list:active{color:white;}